.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
}

.border {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
}

.box {
    cursor: pointer;
    position: relative;
    margin: 6rem auto;
    border-radius: 50%;
  }
  